@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&family=Roboto+Mono:wght@300;400;500&display=swap");

*,
::after,
::before,
h1,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: Roboto-mono, monospace;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100svh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: #ef402f;
}

/* navbar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-bar img {
  max-width: 12vw;
  height: auto;
}

.nav-bar ul {
  display: flex;
  gap: 4vw;
  padding: 2vw;
}

.nav-bar ul li {
  list-style: none;
  font-size: 1.25em;
}

a {
  color: #212529;
  text-decoration: none;
  cursor: pointer;
}

#mobile-navbar,
#bar {
  display: none;
}

/* hero section */

.hero-section {
  display: flex;
  width: 100%;
  height: calc(100svh - 60px);
  align-items: center;
  padding: 0px 10vh;
  overflow: hidden;
  gap: 2vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vh;
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: #212529;
}

.content p {
  font-size: 1.25em;
  text-align: left;
  font-family: Roboto-mono, monospace;
}

.content h1 {
  font-size: 4.375em;
  font-family: exo2, sans-serif;
}

.hero-image {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: 100%;
}

.btn {
  margin-top: 4vh;
  width: 18vw;
  height: 10vh;
  background-color: transparent;
  border: 1px solid #212529;
  color: #212529;
  padding: 2vh 2vw;
  cursor: pointer;
}

/* about section */
menu {
  margin: 100px 0px;
}

#about-section {
  padding: 0vh 16vw;
  margin: 100px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
}

.headerH2 {
  font-size: 4.375em;
  font-family: exo2, sans-serif;
  color: #ef412d;
}

#about-section p {
  text-align: justify;
  font-size: 1.25em;
  line-height: 5vh;
  font-family: Roboto-mono, monospace;
  font-weight: 500;
}

/* Project section */

#project-section {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.padding-project-section {
  padding: 0vh 5vw;
}

.project-showcase {
  padding: 5vh 5vw;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #002134;
  gap: 1vw;
  color: white;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.project-content h3 {
  padding-top: 2vh;
  font-size: 2em;
}

.project-content p {
  padding: 2vh;
  text-align: justify;
  font-size: 1.25em;
  line-height: 5vh;
  font-family: Roboto-mono, monospace;
  font-weight: 500;
}

.project-content h4 {
  font-size: 1.5em;
}

.project-content ul li {
  padding: 2vh 2vw;
  list-style: inside;
  list-style-type: "+ ";
}

.project-btn {
  margin-top: 4vh;
  width: 18vw;
  height: 10vh;
  background-color: transparent;
  border: 1px solid rgb(246, 242, 242);
  color: rgb(255, 255, 255);
  padding: 2vh 2vw;
  cursor: pointer;
}

.project-btn a {
  color: rgb(255, 255, 255);
}

.project-mockup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-mockup img {
  width: 700px;
  height: auto;
}

/* Education section */

#education-section {
  padding: 0vh 16vw;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.education-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.education-div div button {
  width: 100%;
  padding: 4vh;
  background-color: transparent;
  color: #212529;
  border: 2px solid #ef402f;
  border-radius: 10px;
  font-size: 1.25em;
  font-family: Roboto-mono, monospace;
  cursor: pointer;
}

.education-div div button:hover {
  background-color: #f87265;
  border: 2px solid #f87265;
  color: white;
}

#latest-course-info,
#javascript-info,
#graduation-info,
#senior-secondary-info,
#matriculation-info {
  display: none;
}

#latest-course,
#javascript,
#graduation,
#senior-secondary,
#matriculation {
  display: flex;
  justify-content: space-between;
}

.courses-info-class {
  text-align: justify;
  font-size: 1.25em;
  line-height: 5vh;
  font-family: Roboto-mono, monospace;
  font-weight: 500;
  padding: 1.5vw;
}

.courses-info-class p {
  padding-top: 2vh;
}

.courses-info-class .project-list {
  padding: 2vh 2vw;
  list-style: inside;
  list-style-type: "+ ";
}

/* Skills section */
#skill-section {
  padding: 0vh 16vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.my-skills {
  padding-top: 4vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 5vw;
}

.my-skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.my-skills div h2 {
  font-size: 1.5em;
}

.my-skills div img {
  width: 15vw;
}

/* contact section */
#contact-section {
  padding: 0vh 16vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  padding-top: 4vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  line-height: 5vh;
}

form input {
  padding: 2vh;
}

form::placeholder {
  padding: 2vh;
  font-family: Roboto-mono, monospace;
}

form textarea {
  height: 20vh;
}

form button {
  margin-top: 4vh;
  width: 18vw;
  height: 10vh;
  background-color: transparent;
  border: 1px solid #212529;
  color: #212529;
  padding: 4vh vw;
  cursor: pointer;
}

/* footer */
footer {
  display: flex;
  font-family: Roboto-mono, monospace;
  font-size: 1em;
  justify-content: center;
  padding-bottom: 2vh;
  border-bottom: 4vh solid #b93929;
}

/* media queries */

/* site is responsive for
  -> 320px — 480px: Mobile devices
  -> 481px — 768px: iPads, Tablets (both) 
  -> 769px — 1024px: Small screens, laptops (both)
  -> 1025px — 1200px: Desktops, large screens (Both) 
  -> 1201px and more —  Extra large screens, TV

*/

/* 769px — 1024px: Small screens, laptops */
@media (max-width: 1024px) and (max-height: 769px) {
  .project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project-content p {
    font-size: 1.7em;
    text-align: left;
  }

  .project-mockup img {
    width: 900px;
    height: auto;
  }

  .project-btn {
    align-self: center;
    width: 24vw;
    height: 10vh;
    font-size: 1em;
    letter-spacing: 0.2em;
  }

  .project-content ul li {
    font-size: 1.5em;
  }

  /* contact section */
  #contact-section {
    padding: 0vh 5vw;
  }

  form {
    font-size: 1.5em;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  form input {
    border: 2px solid;
    font-size: 1em;
  }

  form textarea {
    height: 25vh;
    border: 2px solid;
  }

  form button {
    width: 100%;
    border: 2px solid;
    font-size: 1em;
  }

  /* footer */
  footer {
    font-size: 1.8em;
  }
}

/* 769px — 1024px: Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    width: 100%;
    height: 100svh;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background-color: #ef402f;
  }

  .nav-bar img {
    width: 8vw;
  }

  .nav-bar ul {
    padding: 4vw;
  }

  .nav-bar ul li {
    display: none;
  }

  #bar {
    display: block;
    font-size: 4vh;
  }

  #mobile-navbar {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }

  #mobile-navbar p a {
    color: #212529;
    text-decoration: none;
    font-size: 1.75em;
  }

  /* hero section */
  .hero-section {
    align-items: center;
    flex-direction: column;
    padding: 4vh 2vw;
  }

  .headerH2 {
    font-size: 4.5em;
  }

  .educationH2 {
    font-size: 3.5em;
  }

  .content {
    font-size: 0.75em;
  }

  .content p {
    font-size: 2em;
    text-align: left;
  }

  .content h1 {
    font-size: 4em;
    font-family: exo2, sans-serif;
  }

  .hero-image img {
    width: 100%;
    height: 80%;
  }

  .content button {
    width: 100%;
    border: 2px solid #212529;
    font-size: 1.75em;
  }

  /* about section */

  #about-section {
    padding: 0vh 7vw;
    font-size: 1.75em;
  }

  #about-section p {
    text-align: left;
  }

  /* Project section */

  .project-content {
    width: 100%;
    font-size: 1.75em;
  }

  .project-content p {
    padding: 2vh;
    text-align: left;
  }

  .project-content ul li {
    padding: 2vh 2vw;
    list-style: inside;
    list-style-type: "+ ";
  }

  .project-btn {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 1.125em;
  }

  .project-mockup img {
    width: 700px;
    height: auto;
  }

  /* Education Section */

  #education-section {
    font-size: 1.75em;
    padding: 0vh 7vw;
  }

  .courses-info-class {
    text-align: left;
  }

  #education-section {
    padding: 0vh 7vw;
  }

  /* Skills seciton */
  .my-skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-skills div h2 {
    font-size: 2em;
  }

  .my-skills div img {
    width: 20vw;
  }

  /* contact section */
  #contact-section {
    padding: 0vh 5vw;
  }

  form {
    font-size: 1.5em;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  form input {
    border: 2px solid;
    font-size: 1em;
  }

  form textarea {
    height: 25vh;
    border: 2px solid;
  }

  form button {
    width: 100%;
    border: 2px solid;
    font-size: 1em;
  }

  /* footer */
  footer {
    font-size: 1.8em;
  }
}

/* 481px — 768px: iPads, Tablets portraits  */

@media (min-width: 481px) and (max-width: 768px) {
  .nav-bar ul {
    padding: 4vw;
  }

  .nav-bar ul li {
    display: none;
  }

  #bar {
    display: block;
    font-size: 4vh;
  }

  #mobile-navbar {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }

  #mobile-navbar p a {
    color: #212529;
    text-decoration: none;
    font-size: 1.75em;
  }

  /* hero section */
  .hero-section {
    align-items: center;
    flex-direction: column;
    padding: 4vh 2vw;
  }

  .content {
    font-size: 0.75em;
  }

  .content p {
    font-size: 2em;
    text-align: left;
  }

  .content h1 {
    font-size: 4em;
    font-family: exo2, sans-serif;
  }

  .hero-image img {
    width: 100%;
    height: 90%;
  }

  .content button {
    width: 100%;
  }

  /* about section */

  #about-section {
    padding: 0vh 7vw;
  }

  #about-section p {
    text-align: left;
  }

  /* Project section */

  .project-content {
    width: 100%;
  }

  .project-content p {
    padding: 2vh;
    text-align: left;
  }

  .project-content ul li {
    padding: 2vh 2vw;
    list-style: inside;
    list-style-type: "+ ";
  }

  .project-btn {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 1.125em;
  }

  .project-mockup img {
    width: 450px;
    height: auto;
  }

  /* Education Section */
  #education-section {
    padding: 0vh 7vw;
  }
}

/* 481px — 768px: iPads, Tablets landscape */
@media (min-width: 768px) and (max-width: 481px) {
  .project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project-btn {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 1.125em;
  }
}

/* portrait */
@media screen and (max-width: 375px) and (orientation: portrait) {
  header {
    font-size: 16px;
  }

  .nav-bar img {
    width: 20vw;
  }

  .nav-bar ul {
    padding: 4vw;
  }

  .nav-bar ul li {
    display: none;
  }

  #bar {
    display: block;
    font-size: 4vh;
  }

  #mobile-navbar {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }

  #mobile-navbar p a {
    color: #212529;
    text-decoration: none;
  }

  /* hero section */
  .hero-section {
    align-items: center;

    flex-direction: column;
    padding: 4vh 2vw;
  }

  .content {
    font-size: 14px;
  }

  .content p {
    font-size: 1.25em;
    text-align: left;
  }

  .content h1 {
    font-size: 3.375em;
    font-family: exo2, sans-serif;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
  }

  .content button {
    margin-top: 4vh;
    width: 100%;
    min-height: 8vh;
    background-color: transparent;
    border: 1px solid #212529;
    color: #212529;
    padding: 2vh 2vw;
    cursor: pointer;
    font-size: 1.125em;
  }

  /* about section */

  .headerH2 {
    font-size: 2.5em;
    font-family: exo2, sans-serif;
    color: #ef412d;
  }

  #about-section {
    padding: 0vh 7vw;
  }

  #about-section p {
    text-align: left;
  }

  /* Project section */

  .project-content {
    width: 100%;
  }

  .project-content p {
    padding: 2vh;
    text-align: left;
  }

  .project-content h4 {
    font-size: 1.5em;
  }

  .project-content ul li {
    padding: 2vh 2vw;
    list-style: inside;
    list-style-type: "+ ";
  }

  .project-btn {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 1.125em;
  }

  .project-btn a {
    color: rgb(255, 255, 255);
  }

  .project-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-mockup img {
    width: 300px;
    height: auto;
  }

  /* Education Section */
  #education-section {
    padding: 0vh 7vw;
  }

  .education-div div button {
    font-size: 1em;
  }

  .courses-info-class {
    text-align: left;
    font-size: 1em;
    line-height: 5vh;
    font-family: Roboto-mono, monospace;
    font-weight: 500;
    padding: 2vw;
  }

  /* Skills seciton */
  .my-skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .my-skills div h2 {
    font-size: 1em;
  }

  /* Form section */

  form button {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 0.75em;
  }

  /* footer */
  footer {
    font-size: 0.75em;
  }
}

/* landscape */
@media screen and (max-width: 659px) and (orientation: landscape) {
  header {
    font-size: 16px;
  }

  .nav-bar img {
    width: 10vw;
  }

  .nav-bar ul {
    padding: 4vw;
  }

  .nav-bar ul li {
    display: none;
  }

  #bar {
    display: block;
    font-size: 4vw;
  }

  #mobile-navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
    gap: 5.2vh;
    color: #212529;
  }

  #mobile-navbar p a {
    color: #212529;
    text-decoration: none;
  }

  /* hero section */

  .content {
    font-size: 18px;
  }

  .content p {
    font-size: 0.75em;
  }

  .content h1 {
    font-size: 1.4em;
    font-family: exo2, sans-serif;
  }

  .hero-image img {
    height: 70vh;
  }

  /* about section */
  menu {
    margin: 100px 0px;
  }

  .headerH2 {
    font-size: 2.5em;
    font-family: exo2, sans-serif;
    color: #ef412d;
  }

  #about-section {
    padding: 0vh 7vw;
  }

  #about-section p {
    text-align: left;
    line-height: 6vh;
    font-size: 0.625em;
  }

  /* Project section */

  .project-content {
    width: 40%;
  }

  .project-content p {
    text-align: left;
    line-height: 6vh;
    font-size: 0.625em;
  }

  .project-content h4 {
    font-size: 1.5em;
  }

  .project-content ul li {
    padding: 2vh 2vw;
    list-style: inside;
    list-style-type: "+ ";
  }

  .project-btn {
    width: 30vw;
    height: 20vh;
  }

  .project-btn a {
    color: rgb(255, 255, 255);
  }

  .project-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-mockup img {
    width: 300px;
    height: auto;
  }

  /* Education Section */
  #education-section {
    padding: 0vh 7vw;
  }

  .education-div div button {
    font-size: 1.125em;
  }

  .courses-info-class {
    text-align: left;
    font-size: 0.7em;
    line-height: 7vh;
    font-family: Roboto-mono, monospace;
    font-weight: 500;
    padding: 2.5vw;
  }
}

/* 1025px — 1200px: Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  header {
    width: 100%;
    height: 100svh;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background-color: #ef402f;
  }

  .nav-bar img {
    width: 8vw;
  }

  .nav-bar ul {
    padding: 4vw;
  }

  .nav-bar ul li {
    display: none;
  }

  #bar {
    display: block;
    font-size: 4vh;
  }

  #mobile-navbar {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }

  #mobile-navbar p a {
    color: #212529;
    text-decoration: none;
    font-size: 1.75em;
  }

  /* hero section */
  .hero-section {
    align-items: center;
    flex-direction: column;
    padding: 4vh 2vw;
  }

  .headerH2 {
    font-size: 4.5em;
  }

  .educationH2 {
    font-size: 3.5em;
  }

  .content {
    font-size: 0.75em;
  }

  .content p {
    font-size: 3em;
    text-align: left;
  }

  .content h1 {
    font-size: 6em;
    font-family: exo2, sans-serif;
  }

  .hero-image img {
    width: 80%;
    height: 80%;
  }

  .content button {
    width: 100%;
    border: 3px solid #212529;
    font-size: 2.5em;
  }

  /* about section */

  #about-section {
    padding: 0vh 7vw;
    font-size: 1.75em;
  }

  #about-section p {
    text-align: left;
  }

  /* Project section */

  .project-content {
    width: 100%;
    font-size: 1.75em;
  }

  .project-content p {
    padding: 2vh;
    text-align: left;
  }

  .project-content ul li {
    padding: 2vh 2vw;
    list-style: inside;
    list-style-type: "+ ";
  }

  .project-btn {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 100%;
    font-size: 1.125em;
  }

  .project-mockup img {
    width: 900px;
    height: auto;
  }

  /* Education Section */

  #education-section {
    font-size: 1.75em;
    padding: 0vh 7vw;
  }

  .courses-info-class {
    text-align: left;
  }

  #education-section {
    padding: 0vh 7vw;
  }

  /* Skills seciton */
  .my-skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-skills div h2 {
    font-size: 2em;
  }

  .my-skills div img {
    width: 20vw;
  }

  /* contact section */
  #contact-section {
    padding: 0vh 5vw;
  }

  form {
    font-size: 2em;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  form input {
    border: 2px solid;
    font-size: 1em;
  }

  form textarea {
    height: 25vh;
    border: 2px solid;
  }

  form button {
    width: 100%;
    border: 2px solid;
    font-size: 1.5em;
  }

  /* footer */
  footer {
    font-size: 1.8em;
  }
}

/* 1201px and more —  Extra large screens, TV */
@media only screen and (min-width: 1201px) {
  .project-content {
    width: 100%;
    font-size: 1.75em;
  }

  .project-mockup img {
    width: 980px;
    height: auto;
  }

  /* contact section */
  #contact-section {
    padding: 0vh 5vw;
  }

  form {
    font-size: 1.5em;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  form input {
    border: 2px solid;
    font-size: 1em;
  }

  form textarea {
    height: 25vh;
    border: 2px solid;
  }

  form button {
    width: 100%;
    border: 2px solid;
    font-size: 1em;
  }

  /* footer */
  footer {
    font-size: 1.8em;
  }
}
